@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Welcome to Sacrament Planner</h3>

<p>Sacrament Planner is an app that assists you in outlining your sacrament meetings.<br />
   You can Create a new sacrament meeting.<br />
   You can edit already created meetings.<br />
   You can also view details and delete meetings.
</p>
